@page "/adminpage"


@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop

<PageTitle>Bill Generate</PageTitle>

<div>
  
    <div>
        <div class="container-fluid vh-100">
          
            <div class="row pt-5">
                <div class="col-md-7">
                    <div class="card border-0">
                        <div class="card-body">
                            <RateList />
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-5">
                    <div class="card border-0">
                        <div class="card-body">
                            <Bills />
                        </div>
                    </div>
                   
                </div>
            </div>
           
        </div>


    </div>
   

</div>

